# Ignore Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore audio and dataset
*.wav
dataset/
workspace/
logs/
lightning_logs

# Ignore Jupyter checkpoint files
checkpoint/

# Ignore model checkpoints
*.ckpt
*.pt
*.pth

# Ignore VSCode settings (if used)
.vscode/

# Ignore system files
.DS_Store
Thumbs.db
lass_synthetic_validation.csv
.gitignore
.gitignore
lass_validation.json
config/audiosep_base.yaml

lightning_logs/version_87/events.out.tfevents.1744379313.ubuntu-System-Product-Name.50060.1
